page-about {

.list {
  padding: 0;
  .item{
  .card-icon {
    height: 42px;
    width: 42px;
    border-radius: 20px;
    color: #fff;
    background: #FF3F80;
    font-size: x-large;
    line-height: 42px;
    text-align: center;
  }
  }
}
}
