page-home {
 .chart{
   background: #C5CAE9;
   height: 300px;
   width: 100%;
 }

 .scroll-content{
   padding: 0 !important;
 }
  .value{
    display: block;
    position: absolute;
    right: 12px;
    top: 20px;
    font-size: 18px;
  }
  .plus{
    color:#4CAF50;
  }
  .minus{
    color:#f44336;
  }
 .balance{
   position: absolute;
   width: 100%;
   text-align: center;
   top: 18px;
   color: #4d4d4d;
   .title{
     font-size: 18px;
     margin-bottom: 8px;
     font-weight: 600;
   }
   .total{
     font-size: 68px;
     margin: 0;
   }
 }
}
